.js-speaker-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;

  line-height: 20px;
  letter-spacing: 0.03em;

  color: $footer-link-color;

  background-color: $minor-background-color;

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__label {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: $current-title-color;

  &:nth-last-of-type(2) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
  }
}

.form__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $current-text-color;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;

  transition: border $duration $function;

  &t:focus-visible,
  &:focus {
    border: 1px solid $accent-color;
    outline: -webkit-focus-ring-color auto 0px;
  }
}

.form__textarea {
  display: block;

  width: 100%;
  height: 120px;
  resize: none;

  margin: 0;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $current-placeholder-color;

  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;

  transition: border $duration $function;

  &:focus-visible,
  &:focus {
    border: 1px solid $accent-color;
    outline: -webkit-focus-ring-color auto 0px;
  }
}

.form__agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: $current-text-color;
}
