%heading {
  margin: 0 0 50px 0;

  color: $current-title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
