.social__menu {
  display: flex;
  padding-left: 10px;
}

.social__menu-item {
  &:not(:last-child)::after {
    content: '';

    border-right: 1px solid $line-social-color;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $social-passive-color;
  transition: color $duration $function, background-color $duration $function;

  &--footer {
    color: $current-light-color;
    background-color: $social-passive-background-color;
    transition: background-color $duration $function;
  }

  &:hover,
  &:focus {
    color: $current-light-color;
    background-color: $accent-color;
  }
}
