.social__menu {
  display: flex;
  padding-left: 10px;
}

.social__menu-item {
  &:not(:last-child)::after {
    content: '';

    border-right: 1px solid $line-social-color;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
