$current-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;

$current-light-color: #ffffff;
$current-dark-color: #000000;
$minor-background-color: #2f303a;
$card-background-color: rgba(47, 48, 58, 0.8);
$thumb-background-color: #f5f4fa;

$line-color: #ececec;
$border-color: #eeeeee;

$current-text-color: #757575;
$current-title-color: #212121;
$current-placeholder-color: rgba(117, 117, 117, 0.5);
$accent-color: #2196f3;
$minor-accent-color: #188ce8;

$social-passive-color: #afb1b8;

$footer-link-color: rgba(255, 255, 255, 0.6);
$social-passive-background-color: rgba(255, 255, 255, 0.1);

$backdrop-overlay-color: rgba(0, 0, 0, 0.2);
$overlay-card-color: rgba(33, 150, 243, 0.9);

$duration: 250ms;
$function: cubic-bezier(0.4, 0, 0.2, 1);
