.container {
  min-width: 200px;
  padding: 0 15px;
  margin: 0 auto;

  .hero & {
    max-width: 360px;
    padding: 0;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  .page-header & {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
