.feature__items {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__item {
  @media screen and (max-width: 767px) {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.feature__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 120px;

  margin-bottom: 30px;

  border-radius: 4px;
  background-color: $thumb-background-color;
}
.feature__title {
  margin: 0 0 10px 0;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $current-title-color;
}

.feature__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $current-text-color;
}
