.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
