.footer {
  padding: 60px 15px;
  margin: 0 auto;
  text-align: center;
  background-color: $minor-background-color;
}

.footer__address {
  display: block;
  padding: 0;
  padding: 10px;

  color: $current-light-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer__link {
  display: block;
  padding: 4px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-link-color;

  transition: color $duration $function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__thumb {
  margin-bottom: 60px;
}

.footer__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $current-light-color;
}
