.footer {
  padding: 60px 0;
  margin: 0 auto;
  text-align: center;
  background-color: $minor-background-color;
}

.footer__address {
  display: block;
  padding: 0;
  padding: 10px;

  color: $current-light-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  @media screen and(min-width: 1200px) {
    padding: 5px 0;
  }
}

.footer__link {
  display: block;
  padding: 4px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-link-color;

  transition: color $duration $function;

  @media screen and(min-width:1200px) {
    padding: 5px 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__thumb {
  margin-bottom: 60px;
  @media screen and(min-width:768px) {
    margin-bottom: 0;
    margin-right: 70px;

    &--social {
      margin-right: 93px;
    }
  }
}

.footer__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $current-light-color;
}

.footer-tablet {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and(min-width:1200px) {
    text-align: left;
  }
}
