.menu__wrapper {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: space-between;

    .menu-container & {
      flex-basis: 100%;
      height: 100%;
      flex-direction: column;
    }
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px 15px;
    background-color: $current-light-color;
    z-index: 999;

    transform: translateX(105%);
    @include transition(transform, 250ms, ease-in-out);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.navigation__items {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 98px;
  }
}

.navigation__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
