.portfolio {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-card {
  background-color: $current-light-color;
  box-shadow: none;
  border: 1px solid $border-color;
  border-top: none;
  transition: box-shadow $duration $function;

  @media screen and(max-width:767px) {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 4px 4px;
  }

  @media screen and(min-width:768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and(min-width:1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio-card__aside {
  position: relative;

  height: auto;
  overflow: hidden;
}

.portfolio-card__body {
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-card__title {
  margin: 0 0 4px 0;

  color: $current-title-color;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text {
  margin: 0;

  color: $current-text-color;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}
